<li>
	{{name}}

	<button class='change-devour' data-id='{{id}}' data-devoured='{{devoured}}'>
		{{#if devoured}}EAT-DA-BURGER!{{else}}NOT YET!{{/if}}
	</button>
	<button class = 'delete-burger' data-id='{{id}}'>DELETE</button>
</li>